:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --logo-text-color: #2196f3;
  --banner-text-color: #ffffff;
  --contacts-header-color: #757575;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --primery-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
}

/* страница */
.page {
  background-color: #ffffff;
  color: var(--primery-text-color);
}

/* логотип в шапке */
.logo {
  color: var(--logo-text-color);
}

.page-header .part {
  color: #000000;
}

/* маркеры в списках */
.list {
  list-style: none;
}

/* навигация сайта */
.site-nav .link {
  color: var(--primery-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
  color: var(--accent-color);
}

/* контакты в шапке */
.contacts .link {
  color: var(--title-text-color);
}

.contacts .link:hover,
.contacts .link:focus,
.contacts .link:active {
  color: var(--accent-color);
}

/* баннер */
.banner {
  background-color: var(--second-bg-color);
}

.banner-title {
  color: var(--banner-text-color);
}

/* кнопка в баннере */
.banner-button {
  background-color: var(--accent-color);
  color: var(--banner-text-color);
}

/* названия всех секций, кроме баннера */
.section-title {
  color: var(--primery-text-color);
}

/* особенности */
.features-title {
  color: var(--primery-text-color);
}

.features-text {
  color: var(--title-text-color);
}

/* наша команда */
.section-team {
  background-color: var(--team-bg-color);
}

.team-member {
  background-color: var(--primery-bg-color);
}

.member-name {
  color: var(--primery-text-color);
}

.member-position {
  color: var(--title-text-color);
}

/* подвал */
.footer {
  background-color: var(--second-bg-color);
}

.footer .part {
  color: #ffffff;
}

/* address */
.address {
  color: #ffffff;
}

/* контакты в подвале */
.footer .link {
  color: var(--contacts-footer-color);
}

.footer .link:hover,
.footer .link:focus,
.footer .link:active {
  color: var(--accent-color);
}
